{
    "presets": [
        [
            "@babel/env",
            {
                "loose": true,
                "modules": false
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime", {"corejs": 2}],
        ["react-hot-loader/babel"]
    ]
}